/*  General Settings */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-op: hsl(184, 14%, 56%);
    --light-grayish-cyan-op: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan-op);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main section */

.main__container {
    background-color: var(--white);
    max-width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1em;
}

/* Input Section */

.article__tip {
    max-width: 95%;
}

.article__input__btn {
    display: grid;
    grid-template: repeat(3, 35px) / repeat(3, 100px);
    gap: 0.5em;
}

.section__input__p {
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--dark-grayish-cyan-op);
    margin: 0.25em;
}

