/*  General Settings */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-op: hsl(184, 14%, 56%);
    --light-grayish-cyan-op: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan-op);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main section */

.main__container {
    background-color: var(--white);
    max-width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1em;
}

/* Input Section */

.input__bill__people {
    display: flex;
    position: relative;
}

.img__icon {
    position: absolute;
    top: 30%; 
    left: 5%;
}

.input__icon {
    width: 100%;
    text-align: end;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
    border: none;
    border-radius: 5px;
}

.input__icon:focus {
    outline: none !important;
    border: 2px solid var(--strong-cyan);
}

/* Button Section */

.article__tip {
    max-width: 95%;
}

.article__input__btn {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 51%);
    gap: 0.5em;
}

.section__input__p {
    font-size: 0.75rem;
    color: var(--dark-grayish-cyan-op);
    margin: 0.25em;
}

.button__pc {
    border: none;
    border-radius: 5px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
}

.button__pc:hover {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}