/*  General Settings */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-op: hsl(184, 14%, 56%);
    --light-grayish-cyan-op: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grayish-cyan-op);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main section */

.main__container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1em;
    margin: 1em 0;
}

/* Input Section */

.section__input {
    max-width: 85%;
    margin: auto;
}

.input__bill__people {
    display: flex;
    position: relative;
}

.img__icon {
    position: absolute;
    top: 30%; 
    left: 5%;
}

.input__icon {
    width: 100%;
    text-align: end;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
    border: 2px solid var(--white);
    border-radius: 5px;
}

.input__icon:focus {
    outline: none !important;
    border: 2px solid var(--strong-cyan);
}

/* Button Section */

.article__input__btn {
    max-width: 95%;
    margin: 1em auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 48%);
    gap: 0.75em;
}

.section__input__p {
    font-size: 0.75rem;
    color: var(--dark-grayish-cyan-op);
    margin: 0.25em;
}

.button__pc {
    border: none;
    border-radius: 5px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 0.15em;
    font-weight: 600;
    cursor: pointer;
}

.button__pc:hover {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

/* Validation input */

.people__zero {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#check--zero {
    font-size: 0.5rem;
    color: crimson;
    display: none;
}

/* Output section */

.section__output {
    max-width: 90%;
    margin: 1em;
    padding: 1em;
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
}

.section__output__p {
    font-size: 0.75rem;
    color: var(--white);
    margin: 0.25em;
}

.section__output__p--person {
    font-size: 0.5rem;
    color: var(--dark-grayish-cyan-op);
    margin: 0.25em;
}

.button__reset {
    width: 100%;
    margin-top: 1em;
    padding: 0.4em 0;
    font-size: 0.85em;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}